body {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0 auto;
}

.box {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.about {
  margin-top: 20px;
  margin-left: 20px;
  white-space: pre-wrap;
  width: 300px;
}

.contact {
  margin-top: 20px;
  margin-left: 20px;
  white-space: pre-wrap;
  width: 300px;
}

.header {
  font-size: 20px;
}

.hyperlink {
  color: #2dc997;
  background-color: transparent;
  text-decoration: none;
}